<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Person Page</title>
    <link href="person-page.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            var result = {};
            query.split("&").forEach(function (part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("name").innerHTML = getJsonFromUrl().name;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("phone").innerHTML = getJsonFromUrl().phone;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("email").innerHTML = getJsonFromUrl().email;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("address").innerHTML = getJsonFromUrl().address;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("tuitionTimingDay").innerHTML = getJsonFromUrl().tuitionTimingDay;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("tuitionTimingTime").innerHTML = getJsonFromUrl().tuitionTimingTime;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("subjectNames").innerHTML = (getJsonFromUrl().subjectNames);
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("subjects").innerHTML = getJsonFromUrl().subjects;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("payments").innerHTML = getJsonFromUrl().payments;
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("tags").innerHTML = getJsonFromUrl().tags;
        });
    </script>
    <style>

    </style>
</head>
<body>

    <!--Main Detail-->
    <header class="main-detail">
        <div class="container">
            <div class="personal-name">
                <div class="text-lead"><span id="name"></span></div>
            </div>
            <div class="personal-detail">
                <div class="timing-detail">
                    <div class="timing-text">
                    <span id="tuitionTimingDay" class="timing-day text-uppercase"></span>
                    <span id="tuitionTimingTime"></span>
                    </div>
                </div>
                <div class="contact-detail">
                    <div class="label">
                        <div class="label-text">
                            <span id="subjectNames"></span>
                        </div>
                    </div>
                    <div class="text-detail"><span id="address"></span></div>
                    <div class="text-detail"><span id="email"></span></div>
                    <div class="text-italic"><span id="phone"></span></div>
                </div>
            </div>
        </div>
    </header>

    <!--Payment Panel-->
    <header class="payment-detail">
        <div class="payment-label">
            <h3 class="payment-title" align="center">payment history</h3>
        </div>
        <div class="payment-numbers-panel">
            <span class="payment-numbers" id="payments"></span>
        </div>
    </header>

    <div class="detail-subject-division">
        <hr class="horizontal-divider"/>
    </div>

    <!--Tags-->
    <header class="tags">
        <div class="label" style="display: inline-block">
            <a>Tags: </a>
            <div class="label-text">
                <span id="tags"></span>
            </div>
        </div>
    </header>

    <!--Subjects-->
    <table class="subject-table" style="width:100%">
        <tr>
            <th>Subjects</th>
            <td><span id="subjects"></span></td>
        </tr>
    </table>

    </body>
</html>
