.subjectsShort, .tagsShort {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.subjectsShort .label, .tagsShort .label {
    -fx-text-fill: white;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.tagsShort .label {
    -fx-background-color: #3e7b91;
}

.subjectsShort .label {
    -fx-background-color: #3e96;
}

.payment-text .label {
    -fx-text-fill: #ffffffa0;
    -fx-font-size: 13;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 0;
    -fx-font-family: 'Abel';
}

.subjectList {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.subjectList .label{
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-color: rgba(131, 81, 255, 0.8);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10;
    -fx-min-width: 250;
    -fx-max-width: 250;
    -fx-font-family: 'Abel';
}
